
body {
  background-color: rgb(250, 250, 250);
  font-family:'PingFang TC', '微軟正黑體', 'Microsoft JhengHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.bg-custom {
  background-color: #a02730;
}

.bg-custom-f{
  background-color: #ffc36c;
}

.text-custom {
color:#ffc36c ;
}